{"ignition":{"config":{},"security":{"tls":{}},"timeouts":{},"version":"2.3.0"},"networkd":{},"passwd":{"users":[{"name":"core","sshAuthorizedKeys":[{% for public_key in kubernetes_node_keypairs %}"{{ public_key }}",{% endfor %}]}]},"storage":{"files":[{"filesystem":"root","path":"/etc/hostname","contents":{"source":"http://169.254.169.254/2009-04-04/meta-data/hostname","verification":{}},"mode":644}]},"systemd":{}}
