{"ignition":{"config":{},"security":{"tls":{}},"timeouts":{},"version":"2.3.0"},"networkd":{},"passwd":{"users":[{"name":"core","sshAuthorizedKeys":[{% for public_key in kubernetes_node_keypairs %}"{{ public_key }}",{% endfor %}]}]},"storage":{"directories":[{"filesystem":"Var Filesystem","overwrite":false,"path":"/var","mode":493}],"filesystems":[{"mount":{"device":"/dev/vdb","format":"ext4"},"name":"Var Filesystem"}]},"systemd":{"units":[{"contents":"[Unit]\nDescription=AWX Provision callback\n\n[Service]\nType=oneshot\nExecStart=/usr/bin/curl -k -H \"Content-Type: application/json\" -d '{\"host_config_key\": \"{{ callback_key }}\"}' {{ awx_address }}/api/v2/job_templates/{{ job_template.id }}/callback/\n\n[Install]\nWantedBy=multi-user.target\n","enabled":true,"name":"awx.service"}]}}
