{"ignition":{"config":{},"security":{"tls":{}},"timeouts":{},"version":"2.3.0"},"networkd":{},"passwd":{"users":[{"name":"core","sshAuthorizedKeys":[{% for public_key in kubernetes_node_keypairs %}"{{ public_key }}",{% endfor %}]}]},"storage":{"filesystems":[{"mount":{"device":"/dev/vdb","format":"ext4"},"name":"Var Filesystem"}]},"systemd":{"units":[{"contents":"[Unit]\nBefore=local-fs.target\n\n[Mount]\nWhat=/dev/vdb\nWhere=/var\nType=ext4\n\n[Install]\nWantedBy=local-fs.target\n","enabled":true,"name":"var.mount"},{"enabled":true,"name":"containerd.service"},{"contents":"[Unit]\nDescription=AWX Provision callback\n\n[Service]\nType=oneshot\nExecStart=/usr/bin/curl -H \"Content-Type: application/json\" -X POST -d '{\"host_config_key\": \"{{ job_template.host_config_key }}\"}' {{ awx_address + job_template.url + 'callback/' }}\n\n[Install]\nWantedBy=multi-user.target\n","enabled":true,"name":"awx.service"}]}}
